@media screen and (max-width:768px) {
    main .background .contents ul li a span  {
        font-size: 0.875rem
    }
    main .background .contents ul li {
        margin-bottom: 10px;
    }
    main .background .contents h2  {
        font-size: 2rem;
    }
    main .background .contents .img img{
        width: 70px; height: 70px;
    }
    main .background .contents .text span{
        font-size: 0.875rem;
    }
    main .background .contents ul li a img  {
        width: 46px; height: 66px;
    }
    main .background .contents ul li  {
        padding: 29px 0 32px; width: 160px;;
    }
    main .background .contents ul li a span {
        font-size: 0.875rem;
    }
}