main {background: #1b1b1b; height: 100vh; }
main .background {}
main .background .contents {
    padding: 268px;
}

main .background .contents .img {
    text-align: center;
}
main .background .contents img {
    width: 94px; height: 94px;
}
main .background .contents .text { 
    display: flex; flex-flow: column; 
    align-items: center;
    margin: 40px 0 0; 
}
main .background .contents .text span {color: #a5a5a5;}
main .background .contents .text span:nth-child(1){
    padding-bottom: 5px;
}
main .background .contents .btn {
    text-align: center; margin-top: 60px;
}
main .background .contents .btn a {color: #fff;}
main .background .contents .btn .cancellation {
    background: #5e5e5e; width: 236px;
    padding: 17px 0;
    line-height: 18px;
    color: #fff;
    border-radius: 26px; border: 0;
}
main .background .contents .btn .pw {
    background: #1351f9; width: 316px;
    padding: 17px 0;
    line-height: 18px;
    color: #fff;
    border-radius: 26px; border: 0;
}