/* 코인 충전 팝업 페이지 */
#frm_payment1 {
    background: #252525;
}
/* 자동충전 쪽 */
#frm_payment2 {
    background: #252525;
}
/* 공통 탭 보더 */
.coin_mypage_border {
    border-bottom: 4px solid #1351f9;
}
/* 전체 */
#frm_payment1 .coin_charging_wrap {}
/* 코인충전 타이틀 */
#frm_payment1 .coin_charging_wrap .coin_charging_title {
    background: #1351f9; 
    text-align: center; height: 106px;
    font-weight: normal; line-height: 106px;
    padding: 30px 10px 10px 10px;
    width: 100%; 
}
#frm_payment1 .coin_charging_wrap .coin_charging_title h1 {
    font-size: 30px; color: #fff;

}
/* 일반충전 ~ 자동충전 탭부터 끝까지. */
#frm_payment1 .coin_charging_wrap .coin_charging_middle{
   padding: 20px 20px 20px 20px;
}

/* 자동충전 */
#frm_payment2 .coin_charging_wrap .auto_coin_charging_middle{
    padding: 20px 20px 20px 20px;
}

/* ul */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .coin_charging_tap {
   border-bottom: 1px solid #2f2f2f;
   text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .coin_charging_tap li{
    margin: 0px 40px;
    display: inline-block;
}
/* 일반충전 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .coin_charging_tap li .tap_taget {
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    letter-spacing: -.3px;
    color: #a5a5a5;
   /*  border-bottom: 2px solid #1351f9; */
    font-weight: 700;
    color: #fff;
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .coin_charging_tap li .not_tap_taget {
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    letter-spacing: -.3px;
    /* color: #a5a5a5; */
    color: #fff;
}


/* 111 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .coin_charging_tap li .not_tap_taget:checked + .not_tap_taget::before {
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    letter-spacing: -.3px;
    color: #a5a5a5;
    border-bottom: 2px solid #1351f9;
    font-weight: 700;
    color: #fff;
}

/* 일반충전----------------------------------------------------------------------------- */
/* 테이블 감싸는 전체 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content{
    padding-bottom:50px ;
}
/* 결제내용 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table {
    width: 100%;
    border-top:2px solid #2f2f2f ;
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table .table_title{
    width: 100%;
    height: auto;
    text-indent: inherit;
    visibility: inherit;
    line-height: inherit;
    overflow: inherit;
    font-size: 24px;
    text-align: left;
    color: #fff;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 40px;
    padding-bottom: 10px;
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table colgroup {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table colgroup  col {}
/* tbody */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody tr {}
/* 충전할 코인 선택 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody tr th{
    padding-top: 24px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #a5a5a5;
    padding: 12px 20px;
    text-align: left;
    vertical-align: middle
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody tr td{
    padding-top: 24px;
    padding-bottom: 12px;
    padding: 12px 20px;
    vertical-align: middle;
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style {
    margin-bottom: 16px;
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style input {
    display: none;
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style label
{}

/* 블루버튼 아이콘  */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style label::before{
    position: relative; bottom: -7px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak.png);
    background-size: cover; 
    width: 23px;
    height:23px;
    margin-right:10px; 
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style input:checked + label::before{
    position: relative; bottom: -7px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak_input.png);
    background-size: cover; 
    width: 23px;
    height:23px;
}
/* radio_btn1 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style #radio_btn1{}
/* 라디오 버튼 calss 공통선택자  */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style .radio_btn{}
/* 3,000 코인 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style label{
    position: relative;
    font-size: 16px;
    color: #a5a5a5;
}
/* 최종 결제 금액 전체*/
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody .table_total{}
/* 최종 결제 금액 문장 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody .table_total .row{
    text-align: left;
    color: #a5a5a5;
    padding: 12px 20px;
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody .table_total td{
    padding: 12px 20px 
}
/* 테이블 토탈 가격 전체 p */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody .table_total .table_total_price{
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}
/* 3,000원 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .details_payment_table tbody .table_total .table_total_price #total_span{
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}
/*  */
/* 결제 박스 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .payment_boxs .payment_boxs{
    padding-bottom: 50px 
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .charging_content .payment_boxs .payment_boxs .payment_box{
}
/* 결제수단 선택 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_box_title{
    width: auto;
    height: auto;
    text-indent: inherit;
    visibility: inherit;
    line-height: inherit;
    overflow: inherit;
    font-size: 24px;
    text-align: left;
    color: #fff;
    font-weight: 700;
    margin-bottom: 16px 
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content{
    margin-bottom: 20px;
    border: 4px solid #2f2f2f;
    border-radius: 6px;
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content #payment_btn5{
    display: none;}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content #payment_btn6{
    display: none;}



#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content label {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 10px 20px 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #a5a5a5;
    background-color: #2f2f2f;
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content label::before {
    position: relative; bottom: -5px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak.png);
    background-size: cover; 
    width: 23px;
    height:23px;
    margin-right:10px;
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content input:checked + label::before {
    /* input:checked + label::before { */
    position: relative; bottom: -5px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak_input.png);
    background-size: cover; 
    width: 23px;
    height:23px;
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content label{}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box{
    display: block;
}
/* 스와이퍼 시작  수정 333*/
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1; height: 235px;
    /* width: 635px; */
    width: 100%;
    margin: 20px 0px 0px 0px;
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap{
  text-align: center;
}

/* kb카드 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .kb_img {
    
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .kb_img a {}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .kb_img a img {
    width: 304px;
}
/* kb카드 이미지 끝 */

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container  #coin_next::after {
    display: none;
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container  #coin_next img {
    
}


#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container  #coin_prev::after {
    display: none;
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container  #coin_prev img{}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .btm_btn{}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .btm_btn .swiper-pagination {
    margin-bottom: 10px;
}

/* 등록된 카드는 회원정보에서 관리하실 수 있습니다. */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_content {
    display: block;
    padding-left: 30px;
    margin-bottom: 20px;
    width: 100%;
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_content ul {

}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_content ul li {
    font-size: 14px;
    line-height: 22px;
    color: #666;
    list-style: initial;
}

/* 수정중 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .card_update{
   /*  margin: 0 auto;
    text-decoration: none;
    display: block;
    width: 304px;
    margin: 28px auto;
    padding-top: 70px;
    padding-bottom: 60px;
    font-size: 16px;
    line-height: 18px;
    color: #a5a5a5;
    text-align: center;
    border: 1px dashed #a5a5a5;
    border-radius: 4px; */
 
}
/* 슬라이더 후보! 궁금증*/
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .card_update .kb_img a {
    display: none;
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .card_update .kb_img img {
    display: none;
}

/* 슬라이더 후보 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active a img{
    width: 304px; 
}


/* 카드 등록 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .card_update #update{
    background: slateblue;
}

/* 페이지네이션 전부 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .swiper-pagination-clickable {

}

/* 스와이퍼 페이지네이션 밑에 둥근 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .swiper-pagination-clickable .swiper-pagination-bullet{
    margin-bottom: 10px;
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .swiper-pagination-clickable .swiper-button-next{
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .swiper-pagination-clickable .swiper-button-next img { }

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .swiper-pagination-clickable .swiper-button-prev{
  

}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .swiper-pagination-clickable .swiper-button-prev img{}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .swiper-pagination-clickable .swiper-notification{}

/* crad_content 전 까지 전부  */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .crad_content {
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .crad_content ul {
    margin-bottom: 20px;
    display: block;
    padding-left: 30px;
    font-size: 14px;
    line-height: 22px;
    list-style: initial;
}

/* 등록된 카드는 [회원정보]에서 관리하실 수 있습니다. */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .crad_content ul li {
    color: #666;
    border-radius: 6px;
}
/*  */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_btm {
    border: 1px solid #2f2f2f;
  /*   width: 100%; */
}

/* 222 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_btm::before {
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_btm input:checked + label::before {
}
/* 결제수단 버튼 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_btm #card_btms{
    display: none;
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_btm #card_btms2{
    display: none;
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_btm #card_btms::before{
        position: relative; bottom: 3px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak.png);
    background-size: cover; 
    width: 23px;
    height:23px;
    margin-right:10px;
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_btm #card_btms input:checked + label::before {
           /* input:checked + label::before { */
        position: relative; bottom: 3px;
        content: '';
        display: inline-block;
        background-image: url(../images/icon/cheak_input.png);
        background-size: cover; 
        width: 23px;
        height:23px;
}

/* 다른 결제수단 */
/* 111 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .charging_wrap .payment_boxs .payment_box .payment_content .card_btm label{}
/* 추가-- 여기까지 위 */
/* ul */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content {
    display:block;
    /* width: 640px; */
    margin: 0 auto;
    padding: 20px 20px 150px 20px;
    list-style: none;
    width: 100%;
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li {
    float: left;
    width: 194px;
    margin-right: 8px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
/*     display: inline-block; */
}

#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a {
    display: block;
    padding: 18px 0;
    color: #a5a5a5;
    border: 1px solid #a5a5a5;
    display: flex;
    justify-content: center;
}
/* 신용카드 이미지 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a img{
    margin-right: 5px;
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a .card_btm_credit {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a span {
    color: #a5a5a5;
}

/* 페이코 간편결제 ---------------------------------------------------------------------------------- */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a {}
/* 페이코 이미지 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a img{}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a .card_btm_payco {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a span {}

/* 휴대폰 간편결제 ----------------------------------------------------------------------------------- */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a {}
/* 휴대폰 이미지 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a img{}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a .card_btm_phone {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a span {}

/* 카카오페이 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a {}
/* 휴대폰 이미지 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a img{}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a .card_btm_kakao {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a .blind {}
/*  */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .card_btm_btn {
    font-size: 0;
    text-align: center;
    width: 100%;
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .card_btm_btn li {
    display: inline-block;
    margin-right: 10px
}
/* 취소 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .card_btm_btn li .card_cancle_gray {
    display: block;
    height: 46px;
    font-weight: 700;
    font-size: 16px;
    line-height: 44px;
    letter-spacing: -.3px;
    text-align: center;
    padding: 0 50px;
    border-radius: 100px;
    border: none;
    color: #fff;
    background-color: #5e5e5e;
    cursor: pointer;
    border: 0 none;
}
/* 다음 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .payment_boxs .payment_box .card_btm_btn li .card_payment_blue {
    display: block;
    height: 46px;
    font-weight: 700;
    font-size: 16px;
    line-height: 44px;
    letter-spacing: -.3px;
    text-align: center;
    padding: 0 50px;
    border-radius: 100px;
    background-color: #1351f9;
    color: #fff;
    cursor: pointer;
    border: 0 none;
}
/* 충전한 코인의 유효기간은 5년입니다. */
#frm_payment1 .coin_charging_wrap .coin_charging_middl .nomal_charging_coine .card_btm_contents {
    padding: 30px 40px;
    color: #5e5e5e;
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .card_btm_contents .dot_text span{
    font-size: 14px;
    letter-spacing: -.2px;
    line-height: 24px;
    color: #666;
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .card_btm_contents .dot_text span{
    display: inline-block;
    width: calc(100% - 10px);
    vertical-align: top;
}
/* 자세히보기 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .card_btm_contents .dot_text span #card_btm_more_noti label{
    color: #666; 
    border-bottom: 1px solid #666;
    cursor: pointer;
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .card_btm_contents .dot_text span label{
    color: #666;
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .card_btm_contents .dot_text span #card_btm_more_noti .card_btm_more_wrap{}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .card_btm_contents .dot_text span #card_btm_more_noti .card_btm_more_wrap .dot_text02{}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .nomal_charging_coin .card_btm_contents .dot_text span #card_btm_more_noti .card_btm_more_wrap .dot_text02 span{}




/* 자동충전----------------------------------------------------------------------------------- */
/* 테이블 감싸는 전체 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content{
    padding-bottom:50px ;
}
/* 결제내용 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table {
    width: 100%;
    border-top:2px solid #2f2f2f ;
}
/* 자동충전 결제내용 */
#frm_payment2 .coin_charging_wrap .auto_coin_charging_middle .charging_wrap .charging_content .details_payment_table .table_title{
    width: 100%;
    height: auto;
    text-indent: inherit;
    visibility: inherit;
    line-height: inherit;
    overflow: inherit;
    font-size: 24px;
    text-align: left;
    color: #fff;
    font-weight: 700;
    margin-bottom: 26px;
    
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table colgroup {}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table colgroup  col {}
/* tbody */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody {}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody tr {}
/* 충전할 코인 선택 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody tr th{
    padding-top: 24px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #a5a5a5;
    padding: 12px 20px;
    text-align: left;
    vertical-align: middle
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody tr td{
    padding-top: 24px;
    padding-bottom: 12px;
    padding: 12px 20px;
    vertical-align: middle;
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style {
    margin-bottom: 16px;
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style input {
    display: none;
}

/* 자동충전 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style label
{
    
}

/* 블루버튼 아이콘  */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style label::before{
    position: relative; bottom: -7px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak.png);
    background-size: cover; 
    width: 23px;
    height:23px;
    margin-right:10px; 
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style input:checked + label::before{
    position: relative; bottom: -7px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak_input.png);
    background-size: cover; 
    width: 23px;
    height:23px;
}
/* radio_btn1 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style #radio_btn1{}
/* 라디오 버튼 calss 공통선택자  */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style .radio_btn{}
/* 3,000 코인 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody tr td .radio_btn_style label{
    position: relative;
    font-size: 16px;
    color: #a5a5a5;
}
/* 최종 결제 금액 전체*/
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody .table_total{}
/* 최종 결제 금액 문장 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody .table_total .row{
    text-align: left;
    color: #a5a5a5;
    padding: 12px 20px;
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody .table_total td{
    padding: 12px 20px 
}
/* 테이블 토탈 가격 전체 p */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody .table_total .table_total_price{
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}
/* 3,000원 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .details_payment_table tbody .table_total .table_total_price #total_span{
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}
/*  */
/* 결제 박스 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .payment_boxs .payment_boxs{
    padding-bottom: 50px 
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .charging_content .payment_boxs .payment_boxs .payment_box{
}
/* 결제수단 선택 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_box_title{
    width: auto;
    height: auto;
    text-indent: inherit;
    visibility: inherit;
    line-height: inherit;
    overflow: inherit;
    font-size: 24px;
    text-align: left;
    color: #fff;
    font-weight: 700;
    margin-bottom: 16px 
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content{
    margin-bottom: 20px;
    border: 4px solid #2f2f2f;
    border-radius: 6px;
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content #payment_btn5{
    display: none;}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content #payment_btn6{
    display: none;}



#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content label {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 10px 20px 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #a5a5a5;
    background-color: #2f2f2f;
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content label::before {
    position: relative; bottom: -5px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak.png);
    background-size: cover; 
    width: 23px;
    height:23px;
    margin-right:10px;
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content input:checked + label::before {
    /* input:checked + label::before { */
    position: relative; bottom: -5px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak_input.png);
    background-size: cover; 
    width: 23px;
    height:23px;
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content label{}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box{
    display: block;
}
/* 스와이퍼 시작  수정 333*/
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1; height: 235px;
    /* width: 635px; */
    width: 100%;
    margin: 20px 0px 0px 0px;
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap{
  text-align: center;
}

/* kb카드 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .kb_img {
    
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .kb_img a {}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .kb_img a img {
    width: 304px;
}
/* kb카드 이미지 끝 */

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container  #coin_next::after {
    display: none;
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container  #coin_next img {
    
}


#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container  #coin_prev::after {
    display: none;
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container  #coin_prev img{}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .btm_btn{}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .btm_btn .swiper-pagination {
    margin-bottom: 10px;
}

/* 등록된 카드는 회원정보에서 관리하실 수 있습니다. */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_content {
    display: block;
    padding-left: 30px;
    margin-bottom: 20px;
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_content ul {

}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_content ul li {
    font-size: 14px;
    line-height: 22px;
    color: #666;
    list-style: initial;
}

/* 수정중 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .card_update{
   /*  margin: 0 auto;
    text-decoration: none;
    display: block;
    width: 304px;
    margin: 28px auto;
    padding-top: 70px;
    padding-bottom: 60px;
    font-size: 16px;
    line-height: 18px;
    color: #a5a5a5;
    text-align: center;
    border: 1px dashed #a5a5a5;
    border-radius: 4px; */
 
}
/* 슬라이더 후보! 궁금증*/
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .card_update .kb_img a {
    display: none;
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .card_update .kb_img img {
    display: none;
}

/* 슬라이더 후보 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active a img{
    width: 304px; 
}


/* 카드 등록 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .card_update #update{
    background: slateblue;
}

/* 페이지네이션 전부 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .swiper-pagination-clickable {

}

/* 스와이퍼 페이지네이션 밑에 둥근 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .swiper-pagination-clickable .swiper-pagination-bullet{
    background: springgreen;
    margin-bottom: 10px;
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .swiper-pagination-clickable .swiper-button-next{
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .swiper-pagination-clickable .swiper-button-next img {}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .swiper-pagination-clickable .swiper-button-prev{

}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .swiper-pagination-clickable .swiper-button-prev img{}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-active .swiper-pagination-clickable .swiper-notification{}

/* crad_content 전 까지 전부  */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .crad_content {
    
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .crad_content ul {
    margin-bottom: 20px;
    display: block;
    padding-left: 30px;
    font-size: 14px;
    line-height: 22px;
   
    list-style: initial;
}

/* 등록된 카드는 [회원정보]에서 관리하실 수 있습니다. */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_pay_ment_box .crad_container .crad_content ul li {
    color: #666;
    border-radius: 6px;
}
/*  */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_btm {
    border: 1px solid #2f2f2f;
}

/* 222 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_btm::before {
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_btm input:checked + label::before {
}
/* 결제수단 버튼 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_btm #card_btms{
    display: none;
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_btm #card_btms2{
    display: none;
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_btm #card_btms::before{
        position: relative; bottom: 3px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak.png);
    background-size: cover; 
    width: 23px;
    height:23px;
    margin-right:10px;
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_btm #card_btms input:checked + label::before {
           /* input:checked + label::before { */
        position: relative; bottom: 3px;
        content: '';
        display: inline-block;
        background-image: url(../images/icon/cheak_input.png);
        background-size: cover; 
        width: 23px;
        height:23px;
}

/* 다른 결제수단 */
/* 111 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .charging_wrap .payment_boxs .payment_box .payment_content .card_btm label{}
/* 추가-- 여기까지 위 */
/* ul */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content {
    display:block;
    width: 640px;
    margin: 0 auto;
    padding: 20px 20px 150px 20px;
    list-style: none;
    width: 100%;
    justify-content: center;
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li {
    float: left;
    width: 194px;
    margin-right: 8px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a {
    display: block;
    padding: 18px 0;
    color: #a5a5a5;
    border: 1px solid #a5a5a5;
    display: flex;
    justify-content: center;

}
/* 신용카드 이미지 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a img{ margin-right: 5px;
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a #26{}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a .card_btm_credit {}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a span {
    color: #a5a5a5;
}

/* 페이코 간편결제 ---------------------------------------------------------------------------------- */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li {}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a {}
/* 페이코 이미지 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a img{}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a #27{}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a .card_btm_payco {}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a span {}

/* 휴대폰 간편결제 ----------------------------------------------------------------------------------- */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li {}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a {}
/* 휴대폰 이미지 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a img{}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a #28{}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a .card_btm_phone {}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a span {}

/* 카카오페이 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li {}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a {}
/* 휴대폰 이미지 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a img{}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a #29{}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a .card_btm_kakao {}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .payment_content .card_btm .card_btm_content li a .blind {}
/*  */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .card_btm_btn {
    font-size: 0;
    text-align: center;
    width: 100%;
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .card_btm_btn li {
    display: inline-block;
    margin-right: 10px
}
/* 취소 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .card_btm_btn li .card_cancle_gray {
    display: block;
    height: 46px;
    font-weight: 700;
    font-size: 16px;
    line-height: 44px;
    letter-spacing: -.3px;
    text-align: center;
    padding: 0 50px;
    border-radius: 100px;
    border: none;
    color: #fff;
    background-color: #5e5e5e;
    cursor: pointer;
    border: 0 none;
}
/* 다음 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .card_btm_btn li .card_payment_blue {
    display: block;
    height: 46px;
    font-weight: 700;
    font-size: 16px;
    line-height: 44px;
    letter-spacing: -.3px;
    text-align: center;
    padding: 0 50px;
    border-radius: 100px;
    background-color: #1351f9;
    color: #fff;
    cursor: pointer;
    border: 0 none;
}
/* 충전한 코인의 유효기간은 5년입니다. */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .card_btm_contents {
    padding: 30px 40px;
    color: #5e5e5e;
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .card_btm_contents .dot_text span{
    font-size: 14px;
    letter-spacing: -.2px;
    line-height: 24px;
    color: #666;
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .card_btm_contents .dot_text span{
    display: inline-block;
    width: calc(100% - 10px);
    vertical-align: top;
}
/* 자세히보기 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .card_btm_contents .dot_text span #card_btm_more_noti label{
    color: #666; 
    border-bottom: 1px solid #666;
    cursor: pointer;
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .card_btm_contents .dot_text span label{
    color: #666;
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .card_btm_contents .dot_text span #card_btm_more_noti .card_btm_more_wrap{}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .card_btm_contents .dot_text span #card_btm_more_noti .card_btm_more_wrap .dot_text02{}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .card_btm_contents .dot_text span #card_btm_more_noti .card_btm_more_wrap .dot_text02 span{}

/* 자동충전에 밑에 추가된 부분 매월 자동 결제에 동의합니다. */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .card_check_style {
    padding: 3px 0px 18px 10px
}
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .card_check_style  #card_check {}

#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .card_check_style label {
    font-size: 14px; color: #a5a5a5;
}
/* 위 #card_check 같은 것 */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .card_check_style  .check_blue {}
/* 매월 자동 결제에 동의합니다. */
#frm_payment2 .coin_charging_wrap .coin_charging_middle .payment_boxs .payment_box .card_check_style lable{}
