/* 코인 충전 팝업 페이지 */
*{}
#frm_payment1 {
    background: #252525;
}
/* 자동충전 쪽 */
#frm_payment2 {
    background: #252525;
}
#frm_payment1 .coin_charging_wrap {}
/* 코인충전 타이틀 */
#frm_payment1 .coin_charging_wrap .coin_charging_title {
    background: #1351f9; 
    text-align: center; height: 106px;
    font-weight: normal; line-height: 106px; 

}
#frm_payment1 .coin_charging_wrap .coin_charging_title h1 {
    font-size: 30px; color: #fff;

}
/* 일반충전 ~ 자동충전 탭부터 끝까지. */
#frm_payment1 .coin_charging_wrap .coin_charging_middle{
 
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .coin_charging_tap {
    border-bottom:5px solid #1351f9 ;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
/* 일반충전 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .coin_charging_tap .tap_taget {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    letter-spacing: -.3px;
    color: #a5a5a5;
}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .coin_charging_tap .not_tap_taget {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    letter-spacing: -.3px;
    color: #a5a5a5;
}
/* 결제내용 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table .table_title{}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table colgroup {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table colgroup  col {}
/* tbody */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table tbody {}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table tbody tr {}
/* 충전할 코인 선택 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table tbody tr th{}
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table tbody tr td{}
/* 블루버튼 아이콘  */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table tbody tr td .radio_btn_style{}
/* radio_btn1 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table tbody tr td .radio_btn_style #radio_btn1{}
/* 라디오 버튼 calss 공통선택자  */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table tbody tr td .radio_btn_style .radio_btn{}
/* 3,000 코인 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table tbody tr td .radio_btn_style label{}
/* 최종 결제 금액 전체*/
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table tbody .table_total{}
/* 최종 결제 금액 문장 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table tbody .table_total .row{}
/* 테이블 토탈 가격 전체 p */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table tbody .table_total .table_total_price{}
/* 3,000원 */
#frm_payment1 .coin_charging_wrap .coin_charging_middle .details_payment_table tbody .table_total .table_total_price #total_span{}
/* 결제 박스 */
#frm_payment1 .coin_charging_wrap .payment_box{}
/* 결제수단 선택 */
#frm_payment1 .coin_charging_wrap .payment_box .payment_box_title{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content #payment_btn{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content label{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_pay_ment_box{}
/* 스와이퍼 시작 */
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_pay_ment_box .crad_container{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-next{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-next .card_update{}
/* 카드 등록 */
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_pay_ment_box .crad_container .card_wrap .swiper-slide-next .card_update #update{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_pay_ment_box .crad_container .swiper-pagination-clickable {}
/* 스와이퍼 페이지네이션 밑에 둥근 */
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_pay_ment_box .crad_container .swiper-pagination-clickable .swiper-pagination-bullet{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_pay_ment_box .crad_container .swiper-pagination-clickable .swiper-button-next{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_pay_ment_box .crad_container .swiper-pagination-clickable .swiper-button-prev{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_pay_ment_box .crad_container .swiper-pagination-clickable .swiper-notification{}
/*  */
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_pay_ment_box .crad_containerv .crad_content {}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_pay_ment_box .crad_containerv .crad_content ul {}
/* 등록된 카드는 [회원정보]에서 관리하실 수 있습니다. */
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_pay_ment_box .crad_containerv .crad_content ul li {}
/*  */
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm {}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm #card_btms{}
/* 다른 결제수단 */
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm label{}
/* ul */
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content {}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li {}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a {}
/* 신용카드 이미지 */
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a img{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a #26{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a .card_btm_credit {}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a span {}

/* 페이코 간편결제 ---------------------------------------------------------------------------------- */
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li {}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a {}
/* 페이코 이미지 */
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a img{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a #27{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a .card_btm_payco {}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a span {}

/* 휴대폰 간편결제 ----------------------------------------------------------------------------------- */
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li {}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a {}
/* 휴대폰 이미지 */
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a img{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a #28{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a .card_btm_phone {}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a span {}

/* 카카오페이 */
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li {}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a {}
/* 휴대폰 이미지 */
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a img{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a #29{}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a .card_btm_kakao {}
#frm_payment1 .coin_charging_wrap .payment_box .payment_content .card_btm .card_btm_content li a .blind {}
/*  */
#frm_payment1 .coin_charging_wrap .payment_box .card_btm_btn {}
#frm_payment1 .coin_charging_wrap .payment_box .card_btm_btn li {}
/* 취소 */
#frm_payment1 .coin_charging_wrap .payment_box .card_btm_btn li .card_cancle_gray {}
/* 다음 */
#frm_payment1 .coin_charging_wrap .payment_box .card_btm_btn li .card_payment_blue {}
/* 충전한 코인의 유효기간은 5년입니다. */
#frm_payment1 .coin_charging_wrap .payment_box .card_btm_content {}
#frm_payment1 .coin_charging_wrap .payment_box .card_btm_content .dot_text{}
#frm_payment1 .coin_charging_wrap .payment_box .card_btm_content .dot_text span{}
#frm_payment1 .coin_charging_wrap .payment_box .card_btm_content .dot_text span #card_btm_more_noti{}
#frm_payment1 .coin_charging_wrap .payment_box .card_btm_content .dot_text span #card_btm_more_noti lable{}
#frm_payment1 .coin_charging_wrap .payment_box .card_btm_content .dot_text span #card_btm_more_noti .card_btm_more_wrap{}
#frm_payment1 .coin_charging_wrap .payment_box .card_btm_content .dot_text span #card_btm_more_noti .card_btm_more_wrap .dot_text02{}
#frm_payment1 .coin_charging_wrap .payment_box .card_btm_content .dot_text span #card_btm_more_noti .card_btm_more_wrap .dot_text02 span{}

/* 자동충전에 밑에 추가된 부분 매월 자동 결제에 동의합니다. */
#frm_payment1 .coin_charging_wrap .payment_box .card_check_style {}
#frm_payment1 .coin_charging_wrap .payment_box .card_check_style  #card_check {}
/* 위 #card_check 같은 것 */
#frm_payment1 .coin_charging_wrap .payment_box .card_check_style  .check_blue {}
/* 매월 자동 결제에 동의합니다. */
#frm_payment1 .coin_charging_wrap .payment_box .card_check_style lable{}
