body, html {background:#1b1b1b;}
.coin_wrap {width:100%; padding:0 20px;}
.coin_charging_wrap {
    text-align:center;
}
.coin_charging_wrap .coin_charging_title {background:#1351f9; padding:30px;}
.coin_charging_wrap .coin_charging_title h1 {color:#fff; font-size:1.875rem;}
.coin_charging_wrap .coin_charging_middle {
    border-bottom:1px solid #2f2f2f;
}
.coin_charging_wrap .coin_charging_middle .tab_title {
    padding:20px 0; display:inline-block; color:#a5a5a5;
}
.coin_charging_wrap .coin_charging_middle .tab_title:first-child {margin-right:70px;}
.coin_charging_wrap .coin_charging_middle .active {
    /* js classList add로 */
    /* color:#fff; border-bottom:2px solid #1351f9; */
}

/* 탭 js */
/* 공통 탭 보더 */
.coin_mypage_border {
    border-bottom: 4px solid #1351f9;
}

/* --------------------------------일반&자동 공통 디자인 */
#frm_payment1, #frm_payment2 {padding:20px;}
#frm_payment1 fieldset, #frm_payment2 fieldset {}
#frm_payment1 fieldset .charging_content, #frm_payment2 fieldset .charging_content {}
#frm_payment1 fieldset .charging_content h2, #frm_payment2 fieldset .charging_content h2 {
    border-bottom:1px solid #2f2f2f;
    color:#fff; font-size:1.5rem; padding:50px 0 15px;
}
#frm_payment1 fieldset .charging_content .charging_coin_list, 
#frm_payment2 fieldset .charging_content .charging_coin_list {display:flex;}
#frm_payment1 fieldset .charging_content .charging_coin_list .left,
#frm_payment2 fieldset .charging_content .charging_coin_list .left {
    width:150px; padding-top:70px; color:#a5a5a5;
}
#frm_payment1 fieldset .charging_content .charging_coin_list .right,
#frm_payment2 fieldset .charging_content .charging_coin_list .right {
    width:calc(100% - 150px); padding-left:15px;
    display:flex; flex-flow:column nowrap;
}
/* 상단 라디오 버튼-------------------------- */
#frm_payment1 fieldset .charging_content .charging_coin_list .right label,
#frm_payment2 fieldset .charging_content .charging_coin_list .right label {
    padding:10px 0;
    display: flex;
    flex-flow: row nowrap;
}

#frm_payment1 fieldset .charging_content .charging_coin_list .right label::before,
#frm_payment2 fieldset .charging_content .charging_coin_list .right label::before {
    position: relative; bottom: 0px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak.png);
    background-size: cover; 
    width: 23px;
    height:23px;
    margin-right:10px;
    
}

/* 기존 라디오 버튼 숨김  */
#frm_payment1 fieldset .charging_content .charging_coin_list .right label input[id^=normal_coin],
#frm_payment2 fieldset .charging_content .charging_coin_list .right label input[id^=auto_coin] {
    display: none;
}

#frm_payment1 fieldset .charging_content .charging_coin_list .right label input[id^=normal_coin]:checked + label::before,
#frm_payment2 fieldset .charging_content .charging_coin_list .right label input[id^=auto_coin]:checked + label::before {
    position: relative; bottom: 0px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak_input.png);
    background-size: cover; 
    width: 23px;
    height:23px;
}

#frm_payment1 fieldset .charging_content .charging_coin_list .right label span,
#frm_payment2 fieldset .charging_content .charging_coin_list .right label span {
    color:#a5a5a5;
} 
/* ---------------------------------------------------------------------------- */
#frm_payment1 fieldset .charging_content .coin_result,
#frm_payment2 fieldset .charging_content .coin_result {display:flex; padding:20px 0;}
#frm_payment1 fieldset .charging_content .coin_result .left,
#frm_payment2 fieldset .charging_content .coin_result .left {width:150px; color:#a5a5a5;}
#frm_payment1 fieldset .charging_content .coin_result .right,
#frm_payment2 fieldset .charging_content .coin_result .right {
    width:calc(100% - 150px); padding-left:15px; text-align:right;
    color:#a5a5a5; font-size:1.5rem;
}
#frm_payment1 fieldset .charging_content .coin_result .right .price,
#frm_payment2 fieldset .charging_content .coin_result .right .price {
    color:#fff; font-weight:700; font-size:1.5rem;
}
/* 일반&자동 ----결제 수단 선택 */
form fieldset .payment_box {}
form fieldset .payment_box h2 {
    border-bottom:1px solid #2f2f2f;
    color:#fff; font-size:1.5rem; padding:50px 0 15px;
}
form fieldset .payment_box .payment_content {}
/* 빠른 결제 라디오 버튼 스타일 -----------------------------------------------*/
form fieldset .payment_box .payment_content .fast_pay {
    background:#2f2f2f; padding:10px;
}
form fieldset .payment_box .payment_content .fast_pay input[type=radio] {display: none;}

form fieldset .payment_box .payment_content .fast_pay input[type=radio] {}

form fieldset .payment_box .payment_content .fast_pay input[type=radio]:checked + label::before {
    position: relative; bottom: -5px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak_input.png);
    background-size: cover; 
    width: 23px;
    height:23px;
}
form fieldset .payment_box .payment_content .fast_pay label[for] {color:#a5a5a5;}
form fieldset .payment_box .payment_content .fast_pay label[for]::before {
    position: relative; bottom: -5px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak.png);
    background-size: cover; 
    width: 23px;
    height:23px;
    margin-right:10px;
}
form fieldset .payment_box .payment_content .card_pay_ment_box {}
form fieldset .payment_box .payment_content .card_pay_ment_box .card_content {color:#a5a5a5; padding:20px 0;}
form fieldset .payment_box .payment_content .card_btm {}
form fieldset .payment_box .payment_content .card_btm .other_pay {
    background:#2f2f2f; padding:10px;
}
form fieldset .payment_box .payment_content .card_btm .other_pay input[type=radio] {display: none;}
form fieldset .payment_box .payment_content .card_btm .other_pay input[type=radio]:checked + label::before {
    position: relative; bottom: -5px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak_input.png);
    background-size: cover; 
    width: 23px;
    height:23px;
}

form fieldset .payment_box .payment_content .card_btm .other_pay label[for] {color:#a5a5a5;}

form fieldset .payment_box .payment_content .card_btm .other_pay label[for]::before {
    position: relative; bottom: -5px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak.png);
    background-size: cover; 
    width: 23px;
    height:23px;
    margin-right:10px;
}
form fieldset .payment_box .payment_content .card_btm .card_btm_content {
    display:flex; flex-flow:row wrap; justify-content: flex-start;
    width:80%; margin:30px auto;
}
form fieldset .payment_box .payment_content .card_btm .card_btm_content li {
    width:calc((100% / 3) - (5px * 3)); margin-right:5px; margin-bottom:5px;
}
form fieldset .payment_box .payment_content .card_btm .card_btm_content li a {
    display:inline-block; width:100%; line-height:60px; text-align:center;
    border:1px solid #5e5e5e;
}
form fieldset .payment_box .payment_content .card_btm .card_btm_content li a img {
    position:relative; top:5px;
}
form fieldset .payment_box .payment_content .card_btm .card_btm_content li a span { color:#a5a5a5;}
/* 공통 버튼 */
form fieldset .card_btm_btn {display:flex; justify-content: center;}
form fieldset .card_btm_btn li:first-child {margin-right:10px;}
form fieldset .card_btm_btn li button {width:131px; height:46px; border-radius:30px; color:#fff;}
form fieldset .card_btm_btn li button[id*=cancle] {
    background:#5e5e5e; 
}
form fieldset .card_btm_btn li button[id*=payment] {
    background:#1351f9;
}
/* --------------------------------일반충전 */

/* --------------------------------자동충전 */

/* 공통 주의사항 */
.card_btm_contents {}
.card_btm_contents * {color:#5e5e5e; font-size:0.85rem;}
.card_btm_contents p {line-height:1.7;}
.card_btm_contents p span {}

