/* body */
body {position: relative;}

/* 알림함 */
.notification {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.5); width: 100%; height: 100vh;
}
.notification .contents_all {
    display: flex ;  width: 100%; padding-top: 100px;
}
.notification .contents_all .main_contents {
    background: #1B1B1B; width: 560px; height: 550px; 
    margin: 0 auto;  overflow: hidden; border-radius: 20px;
}
.notification .contents_all .main_contents .contents_top {
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
    padding: 24px 35px; background: #1351f9;    
}
/* 공통 폰트 색상 */
.notification .contents_all .main_contents p {
    color: #fff; font-size: 0.875rem;
}
.notification .contents_all .main_contents .contents_top span {
    color: #fff; font-size: 1.5rem;
}
.notification .contents_all .main_contents .contents_top .right {
    height: 40px; align-items: center; display: flex;
    border: 1px solid #fff; padding: 24px; border-radius: 50px; 
}
.notification .contents_all .main_contents .contents_top .right img {margin: 0 4px 0 0;}
.notification .contents_all .main_contents .contents_top .right a {
    display: flex;
}
/* 내용 */
.notification .contents_all .main_contents .contents_bottom {}
.notification .contents_all .main_contents .contents_bottom .first_contents {
    text-align: center; padding-top: 130px;
}
.notification .contents_all .main_contents .contents_bottom .first_contents img {}
.notification .contents_all .main_contents .contents_bottom .first_contents p {
    color: #a5a5a5; font-size: 1.375rem; margin-top: 13px;
}

/* 전체 카테고리 */
.category_s {
    display: none;
    position: absolute; width: 100%;
    background: rgba(0, 0, 0, 0.5); height: 100vh ; z-index: 999;
}

.category_s .contents_background {padding-top: 150px;}
.category_s .contents_background .contents {
    display: flex; width:950px; height: 548px;
    margin: 0 auto; background: #252525;
    padding: 72px 70px 0;  border-radius: 10px;
    z-index: 999; 
}
/* 공통 폰트 color */
.category_s h2{
    color: #ffff; padding-bottom: 20px;
}
.category_s a{color: #a5a5a5;  }
.category_s a em{color: #a5a5a5; display: flex; align-items: center;}
.category_s a em::after {
    content: '' ;display: flex; width: 5px; height: 5px;
    background-color: #ff27a3; border-radius: 50%; margin-left: 10px;
}
.category_s .contents_background .contents .all_category {
    width: 100%; 
}
.category_s .contents_background .contents .all_category h1 {
    color: #fff; margin: 0 0 28px 40px; font-size: 1.75rem
}
.category_s .contents_background .contents .all_category .scroll {
    height:85%;       overflow: auto;  
}
.category_s .contents_background .contents .all_category ul {
    display: flex; justify-content: space-around;
}
.category_s .contents_background .contents .all_category ul li {
    padding-bottom: 20px;
}
.category_s .contents_background .contents .all_category ul li ul {
    display: flex; flex-flow: column nowrap;
}
.category_s .contents_background .contents .all_category ul li h2{
    font-size: 1rem;  
}

/* 위로가기 */
#up {position: fixed; right: 20px; bottom: 20px;}

/* header */
header {background: #1b1b1b;}
header .h_top {
    width: 1240px; height: 34px; margin: 0 auto;
    display: flex; justify-content: flex-end;
    align-items: center;
}
header .h_top .profile {position: relative;}
header .h_top .profile > a {
    display: flex; align-items: center;
    font-size: 0.75rem; padding: 0 11px;
    color: #a5a5a5; font-family: 'Noto Sans KR', sans-serif;
}
header .h_top .profile .profile_m {
    display: none;
    width: 150px; height: 320px; padding: 15px 0;
    background: #101010; text-align: center;
    position: absolute; top: 25px; left: -40px;
}
header .h_top .profile .profile_m .photo {margin-bottom: 10px;}
header .h_top .profile .profile_m .photo img {width: 80px;}
header .h_top .profile .profile_m .name {
    font-size: 0.875rem; color: #fff;
    font-weight: 700; font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 10px;
}
header .h_top .profile .profile_m .edit {
    margin-bottom: 30px;
    font-size: 0.75rem; justify-content: center;
    display: flex; align-items: center;
}
header .h_top .profile .profile_m .edit img {}
header .h_top .profile .profile_m a {
    display: block; color: #a5a5a5;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 20px; font-size: 0.875rem;
}
header .h_top .profile .profile_m a:hover {color: #fff;}
header .h_top > a {
    font-size: 0.75rem; padding: 0 11px;
    color: #a5a5a5; font-family: 'Noto Sans KR', sans-serif;
}
header .h_top .coupon {position: relative;}
header .h_top .coupon > a {
    display: flex; align-items: center;
    font-size: 0.75rem; padding: 0 11px;
    color: #a5a5a5; font-family: 'Noto Sans KR', sans-serif;
}
header .h_top .coupon .coupon_m {
    display: none;
    width: 80px; height: 70px;
    background: #101010; text-align: center;
    position: absolute; top: 24px; left: 0px;
}
header .h_top .coupon .coupon_m a {
    padding: 10px 15px; border-bottom: 1px solid #2f2f2f;
    display: block; font-size: 0.75rem;
    color: #a5a5a5; font-family: 'Noto Sans KR', sans-serif;
}
header .h_top .coupon .coupon_m a:hover {color: #fff;}
header .h_top .coupon .coupon_m a:last-child {border: none;}
header .h_top .profile .profile_m a span {color: #e938c6;}
header .h_bottom {
    position: relative;
    width: 1240px; height: 74px; margin: 0 auto;
    display: flex; justify-content: space-between;
    align-items: center; border-top: 1px solid #2f2f2f;
}
header .h_bottom .logo {}
header .h_bottom a img {}
header .h_bottom nav {
    display: flex;
    position: absolute; left: 180px;
}
header .h_bottom nav > a {
    font-size: 1.25rem; padding: 0 20px;
    color: #a5a5a5; font-family: 'Noto Sans KR', sans-serif;
}
header .h_bottom nav > a:hover {color: #fff;}
header .h_bottom nav > a:first-child {color: #fff;}
header .h_bottom nav .category {}
header .h_bottom nav .category > a {
    font-size: 1.25rem; padding: 0 20px;
    color: #a5a5a5; font-family: 'Noto Sans KR', sans-serif;
}
header .h_bottom nav .category .category_m {
    display: none;
    width: 220px; height: 460px;
    background: #101010; padding: 20px;
    position: absolute; top: 45px;
}
header .h_bottom nav .category .category_m .all {
    padding: 10px 0 20px 0; border-bottom: 1px solid #2f2f2f;
}
header .h_bottom nav .category .category_m h2 {
    font-weight: 700; padding: 20px 0 10px 0; font-size: 0.875rem;
    color: #fff; font-family: 'Noto Sans KR', sans-serif;
}
header .h_bottom nav .category .category_m a {
    display: block; padding: 10px 0; font-size: 0.875rem;
    color: #a5a5a5; font-family: 'Noto Sans KR', sans-serif;
}
header .h_bottom nav .category .category_m a:hover {color: #fff;}
header .h_bottom .search {}
header .h_bottom .search a {}
header .h_bottom .search a img {}
header .h_bottom .search label {
    display: none; position: relative;
}
header .h_bottom .search label img {
    position: absolute; padding: 9px;
}
header .h_bottom .search label #user_search {
    width: 360px; height: 40px; color: #fff;
    background: #000; padding: 0 40px;
    border: 1px solid #232323;
}
header .h_bottom .search #user_search::placeholder {
    font-family: 'Noto Sans KR', sans-serif;
    color: #a5a5a5;
}
/* footer */
footer {
    background: #1b1b1b;
    border-top: 1px solid #2f2f2f;
}
footer .f_top {
    width: 1240px; height: 50px; margin: 0 auto;
    border-bottom: 1px solid #2f2f2f; align-items: center;
    display: flex; justify-content: space-between;
    position: relative;
}
footer .f_top > a {
    font-size: 1.125rem; color: #a5a5a5;
    font-family: 'Noto Sans KR', sans-serif;
}
footer .f_top .notice {
    display: flex; flex-flow: column nowrap;
    position: absolute; left: 100px;
}
footer .f_top .notice a {
    color: #a5a5a5; padding: 10px 0;
    font-family: 'Noto Sans KR', sans-serif;
}
footer .f_top .move {display: flex;}
footer .f_top .move a {border-left: 1px solid #2f2f2f;}
footer .f_top .move a:last-child {border-right: 1px solid #2f2f2f;}
footer .f_bottom {
    width: 1240px; height: 250px;
    margin: 0 auto; padding-bottom: 100px;
    display: flex; justify-content: space-between;
}
footer .f_bottom .f_left {}
footer .f_bottom .f_left .info {padding: 20px 0 10px 0;}
footer .f_bottom .f_left .info a {
    color: #717171; margin-right: 20px;
    font-size: 0.875rem; font-family: 'Noto Sans KR', sans-serif;
}
footer .f_bottom .f_left .info a:nth-child(5) {
    font-weight: 700; color: #a5a5a5;
}
footer .f_bottom .f_left .info a:hover {color: #1351f9;}
footer .f_bottom .f_left .company {}
footer .f_bottom .f_left .company .company_info {}
footer .f_bottom .f_left .company .company_info span {
    font-size: 0.75rem; color: #717171;
    font-family: 'Noto Sans KR', sans-serif;
}
footer .f_bottom .f_left .company .company_info span:after {
    content: ''; display: inline-block; margin: 0 5px;
    background: #717171; width: 1px; height: 10px;
}
footer .f_bottom .f_left .company .company_info span a {
    font-size: 0.75rem; color: #717171;
    font-family: 'Noto Sans KR', sans-serif;
}
footer .f_bottom .f_left .company .company_info span a:hover {color: #1351f9;}
footer .f_bottom .f_left .company .company_info .last {}
footer .f_bottom .f_left .company .company_info .last:after {background: none;}
footer .f_bottom .f_left .company .copyright {
    color: #717171; margin-top: 10px;
    font-size: 0.75rem; font-family: 'Noto Sans KR', sans-serif;
}
footer .f_bottom .f_right {
    display: flex; height: 38px;
    margin-top: 20px;
}
footer .f_bottom .f_right .logo {
    background: #252525; margin-right: 1px;
}
footer .f_bottom .f_right .logo img {}
footer .f_bottom .f_right #selWavveOn {
    margin-right: 10px; padding-left: 13px;
    background: #252525; color: #aaa;
    font-size: 0.875rem; width: 225px;
    font-family: 'Noto Sans KR', sans-serif;
}
footer .f_bottom .f_right option {}
footer .f_bottom .f_right .sns {display: flex;}
footer .f_bottom .f_right .sns a {
    width: 32px; margin-right: 10px;
}
footer .f_bottom .f_right .sns a:last-child {margin: 0;}
footer .f_bottom .f_right .sns a img {width: 100%;}