/* main */
main {background: #1b1b1b;}
/* section */
main section {width: 1240px; margin: 0 auto;}
/* contents */

/* contents_info */
main section .contents_info {
    margin-top: 40px;
}
main section .contents_info .info_title {
    width: 100%; border-bottom: 1px solid #2f2f2f;
    margin-bottom: 20px; height: 68px;
}
main section .contents_info .info_title a {
    color: #fff; font-size: 1.125rem;
    border-bottom: 4px solid #1351f9;
    line-height: 63px;  
    padding: 0 10px 19px;
}
main section .contents_info .info_title a:nth-child(2),
main section .contents_info .info_title a:nth-child(3){
    margin-left: 20px;
}
main section .contents_info .info_contents {}
main section .contents_info .info_contents ul {
    display: flex; 
}
main section .contents_info .info_contents ul li {}
main section .contents_info .info_contents ul li:nth-child(1) {
    margin-right: 10px;
}
main section .contents_info .info_contents ul li a {display: flex; flex-flow: column nowrap;}
main section .contents_info .info_contents ul li a .img_box {
    border: 1px solid red; border-radius: 10px; overflow: hidden; border: 0;
}
main section .contents_info .info_contents ul li a .img_box img {
    width: 406px; height: 229px; 
}
main section .contents_info .info_contents ul li a em {
    color: #fff; margin-bottom: 4px;
    margin-top: 8px;
}
main section .contents_info .info_contents ul li a span {color: #a5a5a5}