/* main */
main {
    width: 100%; background-color: #1b1b1b
}
main .main_title {
    padding: 40px 0; background-color: #252525; 
    width: 100%; margin-bottom: 40px;
}
main .main_title h1 {
    font-size: 1.5rem ;color: #fff;
    margin: 0 34.5px;
    width: 1240px; margin: 0 auto;
}
main .customer_service {
    width: 1240px; margin: 0 auto;
    padding-bottom: 80px;
}
main .customer_service .contents_title {
    padding-bottom: 40px;
    overflow: hidden; border-radius: 8px; border: 0;
    display: flex; flex-flow: row nowrap;
    justify-content:  space-between;
}
main .customer_service .contents_title a {
    width: 25%; background-color: #252525;
    height: 50px;
    text-align: center;
    color: #a5a5a5;
    line-height: 50px;
}
main .customer_service .contents_title a:nth-child(1){
    background: #1351f9; color: #fff; 
}
/* 공지사항 */
main .customer_service .notice {}
main .customer_service .notice .notice_title {
    display: flex; justify-content: space-between;
    align-items: center; padding-bottom: 20px;
}
main .customer_service .notice .notice_title .notice_category {}
main .customer_service .notice .notice_title .notice_category a {
    font-size: 1.25rem; color: #a5a5a5;
    margin-right: 12px;
    padding-right: 12px; position: relative;
}
main .customer_service .notice .notice_title .notice_category a::after {
    content: ''; display: inline-block;
    background: #2f2f2f; width: 1px;
    height: 18px; transform: translateY(-50%);
    position: absolute; top: 50%; margin: 0 12px;
}
main .customer_service .notice .notice_title .notice_category a:last-child::after {background: none;}
main .customer_service .notice .notice_title .notice_category a:first-child {color: #fff;}
main .customer_service .notice .notice_title #noticeFrm {}
main .customer_service .notice .notice_title #noticeFrm fieldset {}
main .customer_service .notice .notice_title #noticeFrm fieldset #notice_search {
    width: 280px; height: 34px; color: #a5a5a5;
    font-weight: 700;
    padding: 0 20px; background: #252525;
    border-radius: 5px; font-size: 0.875rem;
}
main .customer_service .notice .notice_title #noticeFrm fieldset #noticeBtn {
    width: 54px; height: 34px; color: #fff;
    background: #1351f9; border-radius: 30px;
    font-size: 0.875rem; margin-left: 5px;
}
