/* 팝업 */
.popup {
    display: none;
    position: absolute; width: 100%; z-index: 9999;
    height: 100vh; background: rgba(0, 0, 0, 0.8) ;
}
.popup .popup_background{}
.popup .popup_background .contents {
    margin: 0 auto; width: 420px; padding-top: 100px;
}
.popup .popup_background .contents .top {
    display: flex;
}
.popup .popup_background .contents .top .popup_img {
    background-image: url(../images/1706165557490076058.jpg);
    width: 420px; height: 600px; border-radius: 10px; background-position: center; 
}
.popup .popup_background .contents .top .close{
    position: relative; left: 10px;
}
.popup .popup_background .contents .bottom{margin-top: 10px;}
.popup .popup_background .contents .bottom label {}
.popup .popup_background .contents .bottom label span {color: #f5f5f5;}

/* header nav hover */
header .h_bottom_wrap .h_bottom nav > a:first-child {color: #fff;}

/* main 시작 -------------------------------------------------------*/
/* main 추가한 부분! */
    main { 
        max-width: 1912px; margin: 0 auto;
        background: #1b1b1b;
    }
    main .wrap {}

    main .wrap #top_container {
        margin-bottom: 120px;
        margin-left: 20px;

    }



    main .wrap #top_container #top_images {
        display: flex;
        justify-content: space-between;
        position: relative;
        
    }
    /* 이미지 공통 클래스  */
    main .wrap #top_container #top_images .top_img {
        overflow: hidden; height: 512px;
    }

    main .wrap #top_container #top_images .top_img img {
        width: 1240px; height: 100%; 
    }

    main .wrap #top_container #top_images #top_img1 {
        position: relative;
        justify-content: center;
    }

    main .wrap #top_container #top_images #top_img1 a {
        
    }
    /* 밑 이미지 안 글자 */
<<<<<<< HEAD
    main .wrap #top_container #top_images #top_img1 a img { 
        /* width: 1240px; 이미지 크기  */
       /*  width: 100%;  */
        border-radius: 15px;
        margin-right: 10px; border-radius: 15px;
        
    }
    main .wrap #top_container #top_images #top_img1 a .top_img_font {
        position: absolute; top: 10px; left: 0px;
=======
    main .wrap #top_container #top_images .top_img1 a img { 
        width: 1240px;  margin-right: 20px;
        display: none;  border-radius: 15px;
       
    }
    main .wrap #top_container #top_images .top_img1 a .top_img_font {
        position: absolute; top: 0px; left: 0px;
       
>>>>>>> 772865649e2c98ac917f2ff2d53c07f75a2b6a4f
    }

    /* 2번째 이미지 시작. ---*/
    main .wrap #top_container #top_images #top_img2 {
        position: relative;
        justify-content: center;
        
    }
    main .wrap #top_container #top_images #top_img2 a {}

    /* 밑 이미지 안 글자 */
    main .wrap #top_container #top_images #top_img2 a img {
        width: 1240px; 
        margin-right: 10px; border-radius: 15px;
    }
    
    main .wrap #top_container #top_images #top_img2 a .top_img_font {
        position: absolute; top: 0px; left: 0px;
    }

    /* 3번째 이미지 시작. ---*/
    main .wrap #top_container #top_images #top_img3 {
        position: relative;
        justify-content: center;
        margin-right: 30px;
    }
    main .wrap #top_container #top_images #top_img3 a {
    }
    /* 밑 이미지 안 글자 */
    main .wrap #top_container #top_images #top_img3 a img {
        width: 1240px; 
        margin-right: 10px;
        border-radius: 15px;
    }
    main .wrap #top_container #top_images #top_img3 a .top_img_font {
        position: absolute; top: 0px; left: 0px;
    }
    main .wrap #top_container #top_images #top_img4 {
        position: relative;
        justify-content: center;
        margin-right: 30px;
    }
    main .wrap #top_container #top_images #top_img4 a {}
    /* 밑 이미지 안 글자 */
    main .wrap #top_container #top_images #top_img4 a img {
        width: 1240px; /* height: 508px; */
        margin-right: 10px;
        border-radius: 15px;
    }
    main .wrap #top_container #top_images #top_img4 a .top_img_font {
        position: absolute; top: 0px; left: 0px;
    }
    /* 메인 배너 양옆 버튼 시작 --- */

    
    main .wrap #top_container #top_prev {
        position: absolute; top: 350px; left: 85px;
    }
    main .wrap #top_container #top_prev::after {display: none;}
    main .wrap #top_container #top_prev img {
        width: 100px;
    }
    
    main .wrap #top_container #top_next {
        position: absolute; top: 350px; right: 85px;
    }
    main .wrap #top_container #top_next::after{display: none;}
    main .wrap #top_container #top_next {}
    main .wrap #top_container #top_next img {
        width: 100px;
    }
    main .wrap #top_container .swiper-pagination {
        background: violet; 
    }
    /*----------------------------밑에 하단 슬라이드 시작----------------------------*/

    main .wrap .middle_wrap {
        position: relative;
        max-width: 1240px;
        margin: 0 auto;
    }
    
    main .wrap .middle_wrap .img_container1 {
    margin-top: 80px;
    }
    main .wrap .middle_wrap .img_container1 .title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    main .wrap .middle_wrap .img_container1 .title span {
        font-size: 24px; color: #fff;
    }
    main .wrap .middle_wrap .img_container1 .title a {
        color: #a5a5a5; font-size: 16px;
    }
    main .wrap .middle_wrap .img_container1 .title a img {}
    /* 믿고 보는 웨이브 에디터 추천작 */
    main .wrap .middle_wrap .img_container1 #swiper_wavve_images {
       /*  margin: 0 40px; */
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        text-align: center;
    }
    main .wrap .middle_wrap .img_container1 #swiper_wavve_images #swiper_wavve_img {
        display: flex; border-radius: 25px; 
    } 
    main .wrap .middle_wrap .img_container1 #swiper_wavve_images #swiper_wavve_img .swiper-slide {
    /*     width: calc(100% / 4 - 30px / 4); */
        margin-right: 20px; overflow: hidden;
        border-radius: 25px;
    }
    main .wrap .middle_wrap .img_container1 #swiper_wavve_images #swiper_wavve_img .swiper-slide img {
    width: 250px; 
    }
    
    main .wrap .middle_wrap .img_container1 #swiper_wavve_images #swiper_wavve_img .swiper-slide:hover {
    }
    
    main .wrap .middle_wrap .img_container1 #swiper_wavve_images #swiper_wavve_img .swiper-slide img:hover {
        transform: scale(1.1); transition:  0.3s;
    }
    
    /* 좌우 버튼 시작 */
    main .wrap .middle_wrap .img_container1 #swiper_wavve_images #prev {
        position: absolute;
        top: 170px; left: 0px;
        transform: translateX(-30px);
        transition: 0.2s;
    }
    main .wrap .middle_wrap .img_container1:hover #swiper_wavve_images #prev{
        transform: translateX(0);
    }

    main .wrap .middle_wrap .img_container1 #swiper_wavve_images #next {
        position: absolute;
        top: 170px; right: 0px;
        transform: translateX(30px);
        transition: 0.2s;
    }
    main .wrap .middle_wrap .img_container1:hover #swiper_wavve_images #next {
        transform: translateX(0);
    }
    /*  */