/* 알림함 */
.notification_bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh; padding-top: 200px;
}
.notification_bg .notification_wrap{
    width: 560px; margin: 0 auto;
    background: #252525; 
    position: relative;
    border-radius: 10px
}

.notification_bg .notification_wrap .notification_top {
    width: 560px;
    padding: 0 35px; height: 86px;
    background: #1351f9; align-items: center;
    display: flex; justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.notification_bg .notification_wrap .notification_top h2 {
    color: #fff; font-size: 1.5rem;
}

.notification_bg .notification_wrap .notification_top a {
    border: 1px solid #fff;
    border-radius: 50px; font-size: 0.875rem;
    color: #fff; 
    display: flex; padding: 10px 20px 10px 20px;
}

.notification_bg .notification_wrap .notification_top a img {
    width: 19px; height: 19px;
}

.notification_bg .notification_wrap .notification_wrap .notification {
    width: 560px; height: 550px;
    background: #1b1b1b;
}
/* 공통 해더 끝 */
/* 알림함 내용 시작 */

.notification_wrap .notification {}
.notification_bg .notification_wrap .notification .notification_bottom {
    height: 464px; display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;
}
.notification_bg .notification_wrap .notification .notification_bottom img {}
.notification_bg .notification_wrap .notification .notification_bottom span {
    font-size: 1.375rem; color: #a5a5a5;
    margin-top: 13px
}


/* 공통 폰트 색상 */
.notification .contents_all .main_contents p {
    color: #fff; font-size: 0.875rem;
    color: #a5a5a5; font-size: 1.375rem; margin-top: 13px;
}

/* 알림함 끝 알림설정 시작 */
/* 알림설정 */
.notification_bg .notification_wrap .setting_wrap {
    width: 560px;

}

.notification_bg .notification_wrap .notification .setting_wrap  {
    background: #252525; width: 560px;  
    margin: 0 auto;  overflow: hidden;
    top: 100px; right: -40px;
}

.notification_bg .notification_wrap .setting_wrap .setting_contents_top {
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
    background: #1351f9;
    padding: 29px 39px 29px 39px;
}
/* 알림설정 left */
.notification_bg .notification_wrap .setting_wrap .setting_contents_top .setting_left {

}
/* 알림설정 span */
.notification_bg .notification_wrap .setting_wrap .setting_contents_top .setting_left .setting_notification_sub {
    display: flex; color: #fff; font-size: 1.5rem; font-weight: bold;
}
/* 알림설정 right */
.notification_bg .notification_wrap .setting_wrap .setting_contents_top .setting_right {
    height: 40px; align-items: center; display: flex;
    border: 1px solid #fff; border-radius: 50px; 
    padding: 17px 19px 17px 19px;
}
/* 알림함 버튼 */
.notification_bg .notification_wrap .setting_wrap .setting_contents_top .setting_right a {
    display: flex;
}

.notification_bg .notification_wrap .setting_wrap .setting_contents_top .setting_right a img{
    margin: 0px 4px 0px 0px;
}
.notification_bg .notification_wrap .setting_wrap .setting_contents_top .setting_right a p {
    color: #fff; font-size: 0.875rem;
}

.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom {
    padding: 10px 10px 10px 10px;
    background: #252525;
}
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom {
    text-align: center;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container {

}
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_top_inform {
    display: flex;
    justify-content: space-between;
    padding: 24px 35px;

}
/* 시청 예약 알림 전체 */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_top_inform .setting_left {

}
/* 시청 예약 알림 */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_top_inform .setting_left span {
    font-size: 16px; color:#a5a5a5 ;
    font-weight: bold;
}

.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_top_inform .setting_right{

}
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_top_inform .setting_right .setting_radio_style{

}
/* 시청 예약 알림 on span */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_top_inform .setting_right .setting_radio_style .top_on {
    
}
/* 시청 예약 알림 - on input  */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_top_inform .setting_right .setting_radio_style .top_on .setting_chk_on {

}
/* 시청 예약 알림 - on input  */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_top_inform .setting_right .setting_radio_style .top_on .setting_chk_on {
    display: none;
}

/* 시청 예약 알림 on label */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_top_inform .setting_right .setting_radio_style .top_on label {
    color: #a5a5a5;
    font-weight: bold;
    margin-right: 10px; 
}

/* 시청 예약 알림 on label */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_top_inform .setting_right .setting_radio_style .top_on label::before {
    position: relative; bottom: -6px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak.png);
    background-size: cover; 
    width: 23px;
    height:23px;
    margin-right:5px;
}

/* 시청 예약 알림 - on input  */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_top_inform .setting_right .setting_radio_style .top_on .setting_chk_on:checked + label::before {
    background-image: url(../images/icon/cheak_input.png);
}
/* 시청 예약 알림 off span */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom  .setting_chk_container .setting_top_inform .setting_right .setting_radio_style .top_off{

}

/* 시청 예약 알림 - off input  */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_top_inform .setting_right .setting_radio_style .top_off .setting_chk_off{
    display: none;
}
/* 시청 예약 알림 - off input  */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_top_inform .setting_right .setting_radio_style .top_off .setting_chk_off:checked + label::before{
    background-image: url(../images/icon/cheak_input.png);
}

/* 시청 예약 알림 - off label  */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom  .setting_chk_container .setting_top_inform .setting_right .setting_radio_style .top_off label {
    color: #a5a5a5;
    font-weight: bold;
}

/* 시청 예약 알림 - off label  */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_top_inform .setting_right .setting_radio_style .top_off label::before {
    position: relative; bottom: -6px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak.png);
    background-size: cover; 
    width: 23px;
    height:23px;
    margin-right:5px;
}

/* <관심 프로그램 업로드 알림> 큰틀 */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_btm_inform {
    display: flex;
    justify-content: space-between;
    padding: 24px 35px;

}

/* 관심 프로그램 업로드 알림  left */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_btm_inform .setting_btm_left {

}
/* 관심 프로그램 업로드 알림 span */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_btm_inform .setting_btm_left span {
    font-size: 16px; color:#a5a5a5 ;
    font-weight: bold;
}
/* 관심 프로그램 업로드 알림 right */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_btm_inform .setting_btm_right {

}
/* 관심 프로그램 업로드 알림 라디오 버튼 묶음 */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_btm_inform .setting_btm_right .setting_radio_style {

}

/* 관심 프로그램 업로드 알림  btm_on 버튼 on 전체 */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_btm_inform .setting_btm_right .setting_radio_style .btm_on {

}

/* 관심 프로그램 업로드 알림  btm_on 버튼 on input */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_btm_inform .setting_btm_right .setting_radio_style .btm_on #chk_on {
    display: none;
}

/* 관심 프로그램 업로드 알림  btm_on 버튼 on input */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_btm_inform .setting_btm_right .setting_radio_style .btm_on #chk_on:checked + label::before {
    position: relative; bottom: -6px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak_input.png);
    background-size: cover; 
    width: 23px;
    height:23px;
}

/* 관심 프로그램 업로드 알림  btm_on 버튼 on label */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_btm_inform .setting_btm_right .setting_radio_style .btm_on label {
    font-size: 16px; color:#a5a5a5 ; 
    font-weight: bold;
    margin-right:10px;
}
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_btm_inform .setting_btm_right .setting_radio_style .btm_on label::before {
    position: relative; bottom: -6px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak.png);
    background-size: cover; 
    width: 23px;
    height:23px;
    margin-right:5px;
}


/* 관심 프로그램 업로드 알림 btm_off 버튼 off 전체 */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_btm_inform .setting_btm_right .setting_radio_style .btm_off {

}

/* 관심 프로그램 업로드 알림  btm_on 버튼 on input */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_btm_inform .setting_btm_right .setting_radio_style .btm_off #chk_off {
    display: none;
}
/* 관심 프로그램 업로드 알림  btm_on 버튼 on input */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_btm_inform .setting_btm_right .setting_radio_style .btm_off #chk_off:checked + label::before {
    position: relative; bottom: -6px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak_input.png);
    background-size: cover; 
    width: 23px;
    height:23px;
    margin-right:5px;
}

/* 관심 프로그램 업로드 알림  btm_on 버튼 on label */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_btm_inform .setting_btm_right .setting_radio_style .btm_off label {
    font-size: 16px; color:#a5a5a5 ; 
    font-weight: bold;
}
/* 관심 프로그램 업로드 알림  btm_on 버튼 on label */
.notification_bg .notification_wrap .setting_wrap .setting_contents_bottom .setting_chk_container .setting_btm_inform .setting_btm_right .setting_radio_style .btm_off label::before {
    position: relative; bottom: -6px;
    content: '';
    display: inline-block;
    background-image: url(../images/icon/cheak.png);
    background-size: cover; 
    width: 23px;
    height:23px;
    margin-right:5px;
}

/* x 버튼 */
.notification_bg .notification_wrap .setting_close {
    
}
.notification_bg .notification_wrap .setting_close .setting_close_btn{
    position: absolute; top:0px; right:-30px;
}
.notification_bg .notification_wrap .setting_close .setting_close_btn img{}


/* 0221 저녁 새롭게 선택자 정리 끝 - > 적용하기 */
/* ---------- */