body {background: #1b1b1b;}
main {width: 1240px; margin: 0 auto; height: 100vh;}
/* category */
main .category {
    margin-top: 60px;
    display: flex; justify-content: flex-start;
}
main .category #seriesBtn {
    width: 240px; height: 60px; text-align: left;
    padding-left: 64px; position: relative;
    border: 1px solid #717171; border-radius: 50px;
    color: #fff; font-family: 'Noto Sans KR', sans-serif;
    transition: 0.2s;
    display: flex; align-items: center;
}
main .category #seriesBtn::before {
    width: 24px; height: 24px; content: '';
    display: inline-block;
    position: absolute; left: 24px;
    background-image: url(../images/series.svg);
    background-size: 24px auto;
}
main .category #seriesBtn::after {
    width: 16px; height: 16px; content: '';
    display: inline-block;
    position: absolute; right: 24px;
    background-image: url(../images/icon_search_arrow.svg);
    background-size: 16px auto;
}
main .category #seriesBtn:hover,
main .category #movieBtn:hover {
    width: 500px; white-space: nowrap;
    background: #333;
}
main .category #seriesBtn:hover::after {
    content: '#장르 #채널 #방영정보';
    position: absolute; right: 200px;
}
main .category #movieBtn {
    width: 240px; height: 60px; text-align: left;
    margin-left: 10px; padding-left: 64px;
    border: 1px solid #717171; border-radius: 50px;
    color: #fff; font-family: 'Noto Sans KR', sans-serif;
    transition: 0.2s; position: relative;
    display: flex; align-items: center;
}
main .category #movieBtn::before {
    width: 24px; height: 24px; content: '';
    display: inline-block;
    position: absolute; left: 24px;
    background-image: url(../images/movie.svg);
    background-size: 24px auto;
}
main .category #movieBtn::after {
    width: 16px; height: 16px; content: '';
    display: inline-block;
    position: absolute; right: 24px;
    background-image: url(../images/icon_search_arrow.svg);
    background-size: 16px auto;
}
main .category #movieBtn:hover::after {
    content: '#장르 #국가 #개봉연도';
    position: absolute; right: 200px;
}
/* section */
main section {margin-top: 40px;}
main section h2 {
    margin-bottom: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5rem; color: #fff;
}
main section #swiper {
    max-width: 1240px; overflow: hidden;
    position: relative;
}
main section #swiper .swiper-wrapper {display: flex; }
main section #swiper .swiper-wrapper a {
    display: flex; flex-flow: column nowrap;
    margin-right: 10px;
}
main section #swiper .swiper-wrapper a img {
    width: 240px; border-radius: 10px;
}
main section #swiper .swiper-wrapper a span {
    font-family: 'Noto Sans KR', sans-serif;
    color: #a5a5a5; margin-top: 10px;
}
main section #swiper .swiper-button-prev {
    position: absolute; top: 40px; left: 0;
    transition: 0.2s;
    transform: translateX(-30px);
}
main section:hover #swiper .swiper-button-prev {transform: translateX(0);}
main section #swiper .swiper-button-next {
    position: absolute; top: 40px; right: 0;
    transition: 0.2s;
    transform: translateX(30px);
}
main section:hover #swiper .swiper-button-next {transform: translateX(0);}